language: node_js
before_install:
  - npm i -g npm@6.4.1
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libcairo2-dev
      - libjpeg8-dev
      - libpango1.0-dev
      - libgif-dev
      - librsvg2-dev
      - g++-4.8
env:
  - CXX=g++-4.8
sudo: false